fastapi>=0.109.0
uvicorn[standard]>=0.27.0
sqlalchemy>=2.0.25
sqlmodel>=0.0.16
geoalchemy2>=0.14.3
psycopg2-binary>=2.9.9
python-multipart>=0.0.6
pydantic>=2.5.3
pydantic-settings>=2.1.0
numpy>=1.26.3
shapely>=2.0.2
